@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url(fonts/AppleSDGothicNeoB.ttf);
    font-family: "AppleSDGothicNeoEB00";
    src: url(fonts/AppleSDGothicNeoEB.ttf);
    font-family: "AppleSDGothicNeoH00";
    src: url(fonts/AppleSDGothicNeoH.ttf);
    font-family: "AppleSDGothicNeoL00";
    src: url(fonts/AppleSDGothicNeoL.ttf);
    font-family: "AppleSDGothicNeoM00";
    src: url(fonts/AppleSDGothicNeoM.ttf);
    font-family: "AppleSDGothicNeoR00";
    src: url(fonts/AppleSDGothicNeoR.ttf);
    font-family: "AppleSDGothicNeoSB00";
    src: url(fonts/AppleSDGothicNeoSB.ttf);
    font-family: "AppleSDGothicNeoT00";
    src: url(fonts/AppleSDGothicNeoT.ttf);
    font-family: "AppleSDGothicNeoT00";
    src: url(fonts/AppleSDGothicNeoUL.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.66);
    z-index: -5;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222222;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.47);
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

nav img {
    position: absolute;
    width: 47.3%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 93px;
    margin: 0;
    padding: 0;
    background-color: #222222;
    display: flex;
    align-items: center;
}
hr{
    position:fixed;
    border:solid 2px #fbb03b;
    width:20%;
    left:60%;
    bottom:89px;
    z-index:3;
}
footer ul {
    display: flex;
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    width: 20%;
    margin: 0;
    padding: 0;
}

footer a {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a img {
    height: 66px;
}

.before{
    height:140px;
    width:100%;
}
.wrap {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.xma{
    width:100%;
}
.xma img{
     width:100%;
}
.wrap .left{
    width:232px;
    height:54px;
}
.search{
    position:fixed;
    top:74px;
    width:100%;
    background-color:white;
    height:48px;
    border:solid 2px #fbb03b;
    display:flex;
    z-index:10;
}
.search input{
    margin-left:5%;
    color:#fbb03b;
    border:none;
    z-index:15;
    width:70%;
}
.search img{
    position:absolute;
    width:22px;
    height:22px;
    right:15px;
    top:50%;
    margin-top:-11px;
}